<h1>Add Entry</h1>

<form action="/submit" method="POST">
  <input type="text" name="name" placeholder="Your Name" required />
  <br />
  <textarea name="message" placeholder="Your Message" required></textarea>
  <br />
  <button type="submit">Submit</button>
</form>

<a href="/">Back Home</a>