<!DOCTYPE html>
<html>
<head>
    <title>Socket.io</title>
</head>
<body>

<form id="form">
    <input id="input" autocomplete="off" />
    <button>Send</button>
</form>

<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
<script src="/main.js"></script>

</body>
</html>